
.form__item {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  margin-bottom: 30px;
}

.form__item:last-of-type {
  margin-bottom: 0;
}
